# =========================
# System / Misc
# =========================
*.class
*.log
*.pyc
*.swp
.DS_Store
.history
.svn/
.swiftpm/
migrate_working_dir/

# =========================
# IDE
# =========================
.idea/
*.iml
*.ipr
*.iws
.vscode/

# =========================
# Flutter / Dart
# =========================
.dart_tool/
.packages
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies
/build/
**/doc/api/
**/ios/Flutter/.last_build_id

# =========================
# Android
# =========================
android/.gradle/
android/local.properties

# 🔥 CỰC KỲ QUAN TRỌNG – KHÔNG ĐƯỢC COMMIT
android/key.properties
android/app/upload-keystore.jks

/android/app/debug
/android/app/profile
/android/app/release

# =========================
# iOS
# =========================
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/ephemeral/

# =========================
# Firebase (nếu repo public)
# =========================
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# =========================
# Obfuscation / Symbols
# =========================
app.*.symbols
app.*.map.json
